# ------------------------------
# Maven / Gradle
# ------------------------------
/target/
/build/

# ------------------------------
# IDE
# ------------------------------
# IntelliJ IDEA
/.idea/
/*.iml
/out/
/*.iws

# Eclipse
/.classpath
/.project
/.settings/
/*.launch

# VS Code
/.vscode/

# ------------------------------
# OS
# ------------------------------
# Mac
.DS_Store
# Windows
Thumbs.db
desktop.ini

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Environment / Secrets
# ------------------------------
*.env
.env.*
/config/*.env

# ------------------------------
# Temporary files
# ------------------------------
*.tmp
*.swp
*.bak
*.class

# ------------------------------
# Selenium / WebDriver binaries (если не хранить в проекте)
# ------------------------------
/drivers/

# ------------------------------
# Reports
# ------------------------------
/target/cucumber-report.html
/target/*.json
/target/*.xml

# ------------------------------
# Others
# ------------------------------
*.zip
*.tar.gz